* {
    padding: 0;
    margin:0;
    background-color: #DFE2CF;
}

main {
    display: grid;
    grid-template-rows: 70px 1fr;
}

.header {
    display: grid;
    grid-template-columns: 1fr 500px;
    background-color: #764248;
}

ul, li {
    display: grid;
    grid-auto-flow: column;
    background-color: transparent;
    margin: 8px;
    display:grid;
    gap:10px;
    padding: 0;
    margin: 0;
    margin-top: 5px;
    height:35px;
    width: 150px;
   
}

.name {
    text-align:left;
    margin: 20px;
    color: #DFE2CF;
    font-size: xx-large;
    font-family: "sacramento",cursive;
    background-color: #764248;
    box-shadow: none;
    font-weight: bolder;
}

li {
    color: #DFE2CF;
    background-color:#4E2C30 ;
    border-radius: 5px;
    text-align: center;
    font-family:"Cormaorant",serif;
    padding-top: 15px;
    text-shadow: 5px 5px 5px #271618;
    font-weight: bold;
    
    box-shadow: 5px 5px 5px #271618;
}

.section {
    display:grid;
    grid-template-rows: 300px 1fr;
    
}

p {
    display: grid;
    font-size: 90px;
    font-weight: 600;
    width: 500px;
    margin-top: 10%;
    margin-left: 30%;
    font-family: "sacramento",cursive;
    color:#271618;
    text-shadow: 5px 5px 5px #d88c95;
}

.intro {
    display: grid;
    margin-top: 20%;
    margin-left: 30%;
    font-size: 25px;
    width: 850px;
    font-family:"Cormaorant",serif;
    color:#271618;
    font-weight: 200;

    
}
h1 {
    text-align: center;
    margin-top:10%;
    font-size: 50px;
    font-weight: 600;
    font-family: "sacramento",cursive;
    color:#271618;
    text-shadow: 5px 5px 5px #d88c95;
    
    
}
.introaboutme {
   text-align: center;
   margin:5%;
   padding: 50px;
   background-color: #4E2C30;
   border-radius: 50px;
   box-shadow:5px 5px 5px #271618;

    
}

h2 {
font-size: 40px;
font-weight: 700;
font-family: "sacramento",cursive;
color:#E3C5BB;
background-color: transparent;
margin: 50px;

}

.text {
    margin: 50px;
    font-size: 25px;
    text-align: justify;
    font-weight: 300;
    color:#DFE2CF;
    background-color: transparent;
}

.portfoliocards {
    display:grid;
    grid-template-columns: repeat(auto, 100px);
    grid-auto-flow: column;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 50px;

    margin-bottom:100px;
    gap:10px;

}

ol li {
    
    text-align: center;
    display: inline;
    color:#DDA3B2;
    margin: 7px;
    background-color: #271618;
    padding-bottom: 8px;
    padding-right: 5px;
    padding-left: 5px;

}

ol {
    background-color: transparent;
}


.card {
    background-color:#4E2C30;
    text-align: center;
    border-radius: 50px;
   box-shadow:5px 5px 5px #271618;

}

.readmore {
    display: block;
   
    background-color:#d88c95;
    text-align: center;
    border-radius: 50px;
    box-shadow:5px 5px 5px #271618;
    margin-bottom: 20px;
    font-family: "sacramento", cursive;
    font-size: 30px;
    font-weight: bold;
    width: 150px;
    margin-left: 130px;


}

.github {
    background-color: transparent;
    color:#d88c95;
    margin-bottom: 50px;
    font-family:"Cormaorant",serif;
}

.float{
    position:fixed;
    width:60px;
    height:60px;
    bottom:40px;
    right:40px;
    background-color:#764248;
    
    border-radius:50px;
    text-align:center;
    box-shadow: 2px 2px 3px #271618;
    text-align: center;
    padding: 5px;
    font-family: "sacramento", cursive;
    font-size: x-large;
  }

  .top{
    position:fixed;
    width:60px;
    height:60px;
    bottom:120px;
    right:40px;
    background-color:#764248;
    color:#DFE2CF;
    border-radius:50px;
    text-align:center;
    box-shadow: 2px 2px 3px #271618;
    text-align: center;
    padding: 5px;
    font-family: "sacramento", cursive;
    font-size: x-large;
  }
  

  .joblist {
      display: grid;
      grid-template-rows: repeat(2,100px);
      background-color: #4E2C30;
      gap:100px;   
      border-radius: 50px;
      margin:150px;
      text-align: center;

  }

  
  