* {
    padding: 0;
    margin:0;
    background-color: #DFE2CF;
}

main {
    display: grid;
    grid-template-rows: 70px 1fr;
}

.header {
    display: grid;
    grid-template-columns: 1fr 500px;
    background-color: #764248;
}

ul, li {
    display: grid;
    grid-auto-flow: column;
    background-color: #764248;
    margin: 8px;
    display:grid;
    gap:10px;
    padding: 0;
    margin: 0;
    margin-top: 5px;
    height:35px;
    width: 150px;
   
}

.name {
    text-align:left;
    margin: 20px;
    color: #DFE2CF;
    font-size: x-large;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #764248;
    box-shadow: none;
    font-weight: bolder;
}

li {
    color: #DFE2CF;
    background-color:#4E2C30 ;
    border-radius: 5px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 15px;
    text-shadow: 5px 5px 5px #271618;
    font-weight: bold;
    
    box-shadow: 5px 5px 5px #271618;
}

.section {
    display:grid;
    grid-template-rows: 300px 1fr;
    
}

p {
    display: grid;
    font-size: 90px;
    font-weight: 600;
    width: 500px;
    margin-top: 10%;
    margin-left: 30%;
    font-family:Arial, Helvetica, sans-serif;
    color:#271618;
    text-shadow: 5px 5px 5px #d88c95;
}

.intro {
    display: grid;
    margin-top: 15%;
    margin-left: 30%;
    font-size: 25px;
    width: 850px;
    font-family:Arial, Helvetica, sans-serif;
    color:#271618;
    font-weight: 200;

    
}
h1 {
    text-align: center;
    margin-top:10%;
    font-size: 50px;
    font-weight: 600;
    
    color:#271618;
    
    
}
.introaboutme {
   text-align: center;
   margin:15%;
   padding: 50px;
   background-color: #4E2C30;
   border-radius: 50px;
   box-shadow:5px 5px 5px #271618;

    
}

h2 {
font-size: 30px;
font-weight: 700;
font-family: Arial, Helvetica, sans-serif;
color:#E3C5BB;
background-color: transparent;
margin: 50px;

}

.text {
    margin: 50px;
    font-size: 25px;
    text-align: justify;
    font-weight: 700;
    color:#DDA3B2;
    background-color: transparent;
}

